asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
fastapi==0.68.2
h11==0.14.0
idna==3.6
pydantic==1.10.13
pythainlp==4.0.2
requests==2.31.0
starlette==0.14.2
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.15.0
thai-nner==0.3
